@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-image: url('background_lucky.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Chakra Petch", sans-serif;

    /* centralização */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    margin: 0;
}

main, .Lucky-Number{
    width: 27.375rem;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 11px 10px 10px rgb(0, 0, 0, 0.250);
    background-color: #5b81d2;
}

h1{
    font-size: 4rem;
}

label{
    font-size: 1.5rem;
}

h1, label, input,.btn {
    font-weight: bold;
}

input{
    font-size: 1.2rem;
}

/* Second Page */

.bg-background{
    background-color: #5b81d2 !important;
}

.fs-7{
    font-size: 12rem !important;
}

.fs-8{
    font-size: 3rem !important;
}